
.ipynb_checkpoints/Untitled-checkpoint.ipynb
lab01/Text-algorithms.code-workspace
lab01/.ipynb_checkpoints/lab01-checkpoint.ipynb
.ipynb_checkpoints/lab02-checkpoint.ipynb
lab02/.ipynb_checkpoints/lab02-checkpoint.ipynb
lab03/.ipynb_checkpoints/lab03-checkpoint.ipynb
lab04/.ipynb_checkpoints/lab04-checkpoint.ipynb
lab05/.ipynb_checkpoints/lab05-checkpoint.ipynb
lab06/.ipynb_checkpoints/lab06-checkpoint.ipynb
